<style type="text/css">.c-footer__copyright { color:#000000; }.c-footer__company-office-phone { color:#000000;} .c-footer__company-name { color:#000000;} .c-footer__company-address { color:#000000;} .footer-content a:link{ color:black; text-decoration: underline; } .c-footer__copyright a:link{ color:black; text-decoration: underline; }
</style>
